*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
:root {
    --primary-color: #98bdbd;
    --secondary-color: #695743;
    --background-color: #b1a3a2;
    --text-color: #fff9f9;

}
html {
    font-size:  60%;
    overflow-x: hidden;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 25px 22px;
    background-color:rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon{
    font-size: 3.5rem;
    color: rgb(105, 105, 189);
    display: none;
}


.logo{
    font-size: 3.5rem;
    font-weight: 800;
    color: rgb(100, 179, 189);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-left: 0.5rem;
}
.logo:hover{
    transform: scale(1.1);

}
/* span{
    background: linear-gradient(
        270deg,
        rgb(20, 79, 91),
        rgb(40, 95, 95)
        
    );
    background-clip: text;
    color: transparent;
} */

.navbar{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.navbar a{
    font-size:  2.5rem;
    margin-left:0.5rem;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 10px solid transparent;
    align-items: center;
    /* justify-content: space-evenly */
}
.navbar a:hover{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}
.gradient-btn{
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 6rem;
    background: linear-gradient(
        270deg,
        rgb(63, 102, 173),
        rgb(97, 171, 171)
    );
    letter-spacing: 0.5px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease-in-out;
    border: none;
    text-wrap: nowrap;
    align-items: center;
}

.gradient-btn:hover{
    transform: scale(1.03);
}
section{
    padding: 10rem 15%;
    min-height:  100vh;

}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column ;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 5rem;
    font-weight: 500;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    font-size: 3rem;
   margin: 1rem 0;
}
.home-content p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-img img{
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}
.home-img img:hover{
    box-shadow: #ff6b6b, #f06595;
    
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #b1a3a2;
}
.about-img img{
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}
.about-img img:hover{
    box-shadow: #8a3d3d, #29121a;
}
.about-content h2{
    font-size: 6rem;
   text-align: left;
   margin-bottom: 15px;
}
.about-content h3{
    font-size: 3rem;
    margin: 1.5rem 0;
}
.about-content p{
    font-size: 2.5rem;
    line-height: 1.5;
   
}
.about-content .btn{
    margin-top: 500%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 2.5rem;
    background: linear-gradient(
        270deg,
        rgb(39, 75, 73),
        rgb(97, 171, 171)
    );
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease-in-out;
    border: none;
    text-wrap: nowrap;
}
 
 ::-webkit-scrollbar{
    width: 20px;
 }
    ::-webkit-scrollbar-thumb{
        background: #e1c9c9;
    }
    ::-webkit-scrollbar-track{
        background: #6f3535;
    }
    /* header{
        text-align: center;
        font-size: 7rem;
        margin: 5rem;
    
    } */
    .services{
        background-color: #b1a3a2;
        color: rgb(46, 44, 44);
        text-align: left;
        padding-bottom: 15rem;
        

    }
    .services h1{
        color: rgb(178, 80, 75);
        margin-bottom: 1rem;
        font-size: 3.5rem;
        
    }
    .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 20fr)  );
        align-items: center;
        gap: 1.8rem;

    }
    .services-box{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e0adad;
        height: 500px;
        border-radius: 3rem;
        cursor: pointer;
        border: 5px solid transparent;
        transition: 0.3s ease-in-out;
    }
    .services-box:hover{
        background: #bfaca4;
        color: rgb(240, 240, 240);
        border: 10px whitesmoke;
        transform: scale(1.04);
    }
    .services-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding:5rem;
        

    }
    .services-info h4{
        font-size: 3rem;
        margin: 2rem 0;
        font-weight: 800;
    }
    .services-info p{
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 1.8;
    }
    .services-info i{
        font-size: 5rem;
        
    }
    .projects{
        background-color: #b1a3a2;
        margin-bottom: 0.5rem;
        font-size: 2rem;

    }
    .projects-box{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 4fr));
        place-items: center;
        gap: 500rem;
        row-gap: 5rem;
    }
    .project-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #ab8d8d;
        border: 2px solid transparent;
        border-radius: 3rem;
        gap: 0.5rem;
        padding: 2.5rem;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease;

    }
    .project-card:hover{
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
        transform: scale(1.02);
    }
    .project-card img{
        max-width: 200px;
        border-radius: 1em;
        object-fit: cover;
    }
    .project-card h3{
        font-size: 2rem;
        
    }
    .project-card p{
        font-size: 1.8rem;
        
    }
    .contact{
        background-color: #b1a3a2;
    }
    .contact h2{
        margin-bottom: 5rem;
        color:#c62c2c;
        font-size: 2rem;
    }
    .contact form{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8rem;
        margin: 5rem 0;
        text-align: center;
    }
    .contact form .input-box input,
    .contact form textarea{
        width: 100%;
        padding: 1.5rem;
        font-size: 1.5rem;
        color: #eee6e8;
        background-color: #e6a4a4;
        border-radius: 2rem;
        border: 1px solid transparent;
        margin: 1rem 0;
        resize: none;
    }
@media (max-width: 1285px){
    #menu-icon{
        display:block;
        
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem 3rem;
        background: #29121a;
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--secondary-color);
    }
    .navbar a{
        display: block;
        margin: 1.5rem 0;
        font-size: 2rem;
        color:#d8cace;
    }
    .navbar.active{
        display: block;
    }
    .gradient-btn{
        display: none;
    }
    .home{
        flex-direction: column-reverse;
       margin: 5rem 0;
        gap: 5rem;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img img{
        width: 56vw;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about h2{
        text-align: center;
        margin: 2rem 0;
    }
    .about img{
        width: 52vw;
    }
    .contact form{
        flex-direction: column;
    }
    /* footer {
    background-color: #a99b9a;  
    padding: 4rem 10%;
    color: rgb(130, 54, 54);
    font-family: 'Poppins';
    } */

    
}

/* Responsive */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10rem;
    background-color: #af7e68;
} 


.footer-left h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(135, 68, 68);
}


.footer-right h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: rgb(132, 60, 60);
}

.footer-right ul {
    list-style: none;
}

.footer-right ul li {
    margin: 0.5rem 0;
}

.footer-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    transition: 0.3s ease;
}

.footer-right ul li a:hover {
    color: #883f3f;
}


.footer-bottom {
    text-align: center;
    
    font-size: 1.5rem;
    
    padding-top: 5rem;
    opacity: 0.8;
}
/* @media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
} */








        
    


    
   
